<app-toolbar id="toolbar" class="fixed top-0 w-full z-50" />
<router-outlet />

<div class="mt-16">

    <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias corporis deserunt repellendus assumenda,
        quibusdam amet!</h1>
    <h1>Asperiores, labore aut eos atque totam incidunt ea maxime, exercitationem, rerum architecto adipisci ipsum iure?
    </h1>
    <h1>Hic sequi dicta nam aperiam enim temporibus tenetur, magni, consequuntur id, at sunt voluptatem non!</h1>
    <h1>Repellat quibusdam repellendus ea in possimus sint deleniti, quo facere obcaecati cupiditate porro error
        aperiam?</h1>
    <h1>Libero tempore ratione a, ab iure dicta facere ullam, ea impedit earum nihil blanditiis aperiam.</h1>
    <h1>Molestias accusantium voluptatibus cum, provident optio nesciunt illum incidunt itaque magni aut obcaecati
        quisquam perferendis?</h1>
    <h1>At, id consequatur iusto saepe nulla temporibus necessitatibus quasi perspiciatis sint, molestias nesciunt eaque
        placeat.</h1>
    <h1>Maiores facilis provident quasi quidem sint expedita autem mollitia esse voluptatum explicabo, nemo quas magnam!
    </h1>
    <h1>Laudantium sint, nulla fugiat maxime cum laborum dolores voluptatem repudiandae molestiae in, deserunt quidem.
        Ut!</h1>

</div>